@{
  Layout = "_Layout";
}

<h2>Welcome to our Salon!</h2>

<button class="btn btn-primary">@Html.ActionLink("See all stylists", "Index", "Stylists")</button>
<button class="btn btn-primary">@Html.ActionLink("See all customers", "Index", "Customers")</button>