@{
  Layout = "_Layout";
}

<h2>Welcome to our Salon!</h2>

<button class="btn btn-primary">@Html.ActionLink("Go to stylists page", "Index", "Stylists")</button>
<button class="btn btn-primary">@Html.ActionLink("Go to customers page", "Index", "Clients")</button>